/BankProject
/CourseExamples
/introduction
/pokedex-master
/Pokemon_site
/Project_0-Hello_World
/Project_1-ForLoops
/Project_2-WhileLoops
/Project_3-Arrays
/Project_4-MagicHat
/Project_5-BinarySearch
/Project_6-Methods
/Project_Homework
/Snake_project.rar
/Snake_project.zip